.App {
  text-align: center;
}

.mainImage {
  position: absolute;
  bottom: 10px;
  left: 10px;
  max-width: 100%;
}

@media only screen and (max-width: 900px) {
  .mainImage {
    position: unset;
  }

  .backgroundBox {
    display: flex;
    flex-direction: column-reverse;
  }
}
